<li class="list-group-item" style="height: 46px; font-size: 18px" data-id="<%= client_id %>">
    <div class="form-inline row" style="margin-bottom: 8px;">
        <div class="col-sm-6"><%= client_name %></div>
        <div class="col-sm-4"><%= client_phone %></div>
        <div class="col-sm-2 text-center">
            <button onclick="setUnconfirmedClientIdAsDeleted($(this))" class="btn btn-default" type="button" style="float: right; margin-top: -4px"><span class="glyphicon glyphicon-minus"></span></button>
        </div>
    </div>
</li>